<div id="create">
  <div id="new_post">Ditty this post!</div>
  <form action="/posts" method="post">
    <input type="title" name="post[title]" placeholder="title">
    <input type="text" name="tags" placeholder="tags">
    
    <textarea rows="6" cols="25" name="post[description]" placeholder="enter body description"></textarea>

    <input type="submit" value="post this ditty">
  </form>
</div>

